---

- name: Create application user
  ansible.builtin.import_role:
    name: common
    tasks_from: user-setup

- name: Install NodeJS
  ansible.builtin.import_role:
    name: common
    tasks_from: nodejs

- name: Install PM2 globally
  npm:
    name: pm2
    global: yes
    state: present

- name: Setup application directory
  ansible.builtin.import_role:
    name: common
    tasks_from: app-setup

- name: Install git
  ansible.builtin.package:
    name: git
    state: present

- name: Remove old backend folder
  file:
    path: "{{ app_dir }}/{{ service_name }}/{{ backend_subpath }}"
    state: absent

- name: Clone backend repo to temp directory
  git:
    repo: "{{ backend_repo_url }}"
    dest: "/tmp/contact-manager"
    version: "{{ backend_branch }}"
    force: yes

- name: Ensure /app/backend exists
  file:
    path: "{{ app_dir }}"
    state: directory

- name: Move backend folder from temp to /app/backend
  command: rsync -a /tmp/contact-manager/backend/ "{{ app_dir }}"

- name: Remove temp repo folder
  file:
    path: /tmp/contact-manager
    state: absent

- name: Set backend working directory
  set_fact:
    backend_workdir: "{{ app_dir }}"

- name: Install backend dependencies
  npm:
    path: "{{ backend_workdir }}"
    state: present

- name: Decrypt secrets.yaml
  include_vars:
    file: "{{ playbook_dir }}/secret/secrets.yaml"
    name: secrets
  no_log: false

- name: Debug - Check secrets variable
  debug:
    msg: "Secrets variable exists: {{ secrets is defined }}"

- name: Debug - Show template path
  debug:
    msg: "Template src: {{ playbook_dir }}/roles/backend/templates/env.j2"

- name: Debug - Show secrets keys (careful - shows values)
  debug:
    msg: "Secrets keys: {{ secrets.keys() | list }}"
  no_log: false  # Temporary - this will show values!

- name: Create .env file using template
  template:
    src: env.j2
    dest: "{{ backend_workdir }}/.env"
    owner: "{{ app_user }}"  # Yeh add karo
    group: "{{ app_user }}"  # Yeh add karo
    mode: "0640"  # Change to 0640
    force: yes
  vars:
    secrets: "{{ secrets }}"
  notify: Restart backend       

- name: Build TypeScript code
  ansible.builtin.shell: "./node_modules/.bin/tsc"
  args:
    chdir: "{{ backend_workdir }}"

- name: Check if server.js exists
  stat:
    path: "{{ backend_workdir }}/server.js"
  register: server_file_js

- name: Start or restart backend using PM2
  shell: |
    pm2 describe backend > /dev/null 2>&1
    if [ $? -eq 0 ]; then
        pm2 restart backend --update-env
    else
        pm2 start server.js --name backend --env production
    fi
  args:
    chdir: "{{ backend_workdir }}"
  become_user: "{{ app_user }}"
  when: server_file_js.stat.exists


