
# Create swap file (2 GB) to avoid memory issues during build
- name: Create swap file
  ansible.builtin.shell: |
    dd if=/dev/zero of=/swapfile bs=1M count=2048
    chmod 600 /swapfile
    mkswap /swapfile
    swapon /swapfile
  args:
    creates: /swapfile




- name: Create application user
  ansible.builtin.import_role:
    name: common
    tasks_from: user-setup

- name: Setup application directory
  ansible.builtin.import_role:
    name: common
    tasks_from: app-setup


- name: Install NodeJS
  ansible.builtin.import_role:
    name: common
    tasks_from: nodejs

- name: Remove old node_modules
  file:
    path: "{{ app_dir }}/node_modules"
    state: absent
  become_user: "{{ app_user }}"

- name: Clean npm cache
  command: npm cache clean --force
  become_user: "{{ app_user }}"

- name: Install git
  ansible.builtin.package:
    name: git
    state: present

- name: Clone frontend repo to temp directory
  git:
    repo: "{{ frontend_repo_url }}"
    dest: "/tmp/contact-manager"
    version: "{{ frontend_branch }}"
    force: yes

- name: Ensure /app exists
  file:
    path: "{{ app_dir }}"
    state: directory

- name: Fix permissions of temp repo for roboshop
  file:
    path: /tmp/contact-manager
    state: directory
    recurse: yes
    owner: roboshop
    group: roboshop


- name: Move client folder from temp to /app
  command: rsync -a /tmp/contact-manager/client/ "{{ app_dir }}"
  become_user: "{{ app_user }}"

- name: Remove temp repo folder
  file:
    path: /tmp/contact-manager
    state: absent

- name: Set frontend working directory
  set_fact:
    frontend_workdir: "{{ app_dir }}"
  become_user: "{{ app_user }}"

- name: Install frontend dependencies
  npm:
    path: "{{ frontend_workdir }}"
    state: present
  become_user: "{{ app_user }}"

- name: Build React App
  command: npm run build
  args:
    chdir: "{{ frontend_workdir }}"
  become_user: "{{ app_user }}"



#  Install Nginx
- name: Install Nginx
  yum:
    name: nginx
    state: present

- name: Ensure Nginx is running
  ansible.builtin.service:
    name: nginx
    state: started
    enabled: yes


- name: Configure Nginx for Frontend
  template:
    src: frontend.j2
    dest: /etc/nginx/conf.d/frontend.conf
    mode: '0644'
  notify: Restart Nginx